body {
    font-family: sans-serif;
}

.logo {
    width: 40px;
}

#head {
    background-image: url("../images/david-benes-zsRhTW3qrmo-unsplash.jpg");
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
}

.card img {
    width: 300px;
}

.card {
    width: 300PX;
}

.land {
    text-align: center;
    color: white;
    margin-top: 30%;
}

.land p {
    font-size: 30px;
    font-family: italic;
}

.about-meso {
    text-align: center;
    margin-top: 5%;
}

.about .card {
    width: 200px;
}

#about {
    margin-top: 60px;
}

#order {
    background-image: url("../images/david-benes-zsRhTW3qrmo-unsplash.jpg");
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
}

#order .jumbotron {
    margin-top: 10px;
    background: rgba(19, 15, 27, 0.9);
    color: #fff;
    height: 700px;
}

.jumbotron {
    background-color: rgba(19, 15, 27, 0.9);
    color: #fff;
    text-align: center;
}

#yourorder,
#deliver,
#pick,
#deliveryConfirmation,
#pickUpConfirmation,
#delivery {
    display: none;
}

.top {
    text-align: left;
}


/* 
body {
    box-sizing: border-box;
} */

@media only screen and (max-width: 600px) {}