body {
    font-family: sans-serif;
}

.logo {
    width: 40px;
}

#head {
    background-image: url("../images/david-benes-zsRhTW3qrmo-unsplash.jpg");
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-attachment: fixed;
}

.card img {
    width: 300px;
}

.card {
    width: 300PX;
}

.land {
    text-align: center;
    color: white;
    margin-top: 30%;
}

.land p {
    font-size: 30px;
    font-family: italic;
}

.about-meso {
    text-align: center;
    margin-top: 5%;
}

.about .card {
    width: 200px;
}

#about {
    margin-top: 60px;
}


/* 
body {
    box-sizing: border-box;
} */

@media only screen and (max-width: 600px) {}